:root {
  --red: #e27979;
  --deepPurple: #623688;
  --lightPurple: #eccef3;
  --green: #57c56d;
  --yellow: #f8e987;
  --darkYellow: #ddc84e;
  --grey: #bdbdbd;
  --blue: #363b88;
}
a {
  color: var(--deepPurple) !important;
}
@font-face {
  font-family: mitr-light;
  src: url("/fonts/mitr/Mitr-Light.ttf");
}

@font-face {
  font-family: mitr-regular;
  src: url("/fonts/mitr/Mitr-Regular.ttf");
}

@font-face {
  font-family: m-light;
  src: url("/fonts/montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: m-reg;
  src: url("/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: m-med;
  src: url("/fonts/montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: s-light;
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Light.ttf");
}

@font-face {
  font-family: s-medium;
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Medium.ttf");
}
@font-face {
  font-family: s-bold;
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Bold.ttf");
}

body {
  margin: 0;
  font-family: m-med !important;
}

.primary-color {
  color: #623688 !important;
}

/* .cus-container {
  padding-left: 100px;
  padding-right: 100px;
} */

/************** Nav **************/
.cus-navbar {
  display: flex;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  flex-direction: row;
  align-items: center;
  color: var(--deepPurple);
  justify-content: space-between;
  height: 100px;
  /* background-color: khaki; */
}

.cus-navbar .brand {
  font-family: m-med;
}

.cus-navbar .nav-link {
  display: flex;
  justify-content: space-around;
  width: 60%;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  margin-right: 7%;
}
.nav-link > li {
  width: 100%;
  height: 100%;
}

.cus-navbar .hamburger {
  display: none;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .cus-navbar .hamburger {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    z-index: 2;
  }

  .hamburger-line {
    width: 30px;
    height: 2px;
    margin-top: 5px;
    background-color: var(--deepPurple);
  }

  .cus-navbar .nav-link {
    display: none;
  }
  .cus-navbar .nav-link.open {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: 0;
    top: 0;
    background-color: var(--lightPurple);
    z-index: 1;
    animation: fade 350ms;
  }

  .cus-navbar .nav-link li {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}
/************** Nav **************/

/************* Card *************/

/* --- Card --- */

:root {
  --red: #e27979;
  --deepPurple: #623688;
  --lightPurple: #eccef3;
  --green: #57c56d;
  --lightGreen: #8ad198;
  --yellow: #f8e987;
  --darkYellow: #ddc84e;
  --grey: #bdbdbd;
  --lightRed : #df8f8f;
  --orange: #dbad56;
}

.cus-btn-check{
  color: white;
  background-color: var(--green);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  right: 60px;
  top: 5px;
  display: flex;
  align-items: center;
  transition: all ease 0.2s;
  justify-content: center;
}

.cus-btn-check:hover{
  background-color: var(--lightGreen);
}

.cus-btn-x{
  color: white;
  background-color: var(--red);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.2s;
}

.cus-btn-x:hover{
  background-color: var(--lightRed);
}

.cus-card {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  background-color: white;
  width: 100%;
  padding: 30px;
  padding-bottom: 45px;
}

.cus-card .image {
  position: relative;
  grid-column: span 6;
  background-color: var(--lightPurple);
  height: 100%;
  max-height: calc(15rem - 60px);
  width: 100%;
}

.cus-card .image .voting {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
  background-color: var(--deepPurple);
  bottom: 0.5rem;
  right: 0.5rem;
  font-weight: 700;
  color: white;
}

.cus-card .v-line {
  grid-column: span 1;
  justify-content: center;
  width: 0.5px;
  height: 100%;
  background-color: #bdbdbd;
  margin-left: 10px;
  margin-right: 10px;
}

.cus-card .content {
  grid-column: span 13;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.cus-card .content .content-row {
  display: grid;
  grid-template-rows: 2rem 5rem 1.5rem;
  color: #623688;
}

.cus-card .content .content-row .header {
  grid-row: 1;
  background-color: white;
  font-size: 1.5rem;
  overflow: hidden;
  font-family: s-bold;
}

.cus-card .content .content-row .detail {
  grid-row: 2;
  background-color: white;
  font-size: 1rem;
  overflow: hidden;
  line-height: 1.5rem;
  padding-top: 0.5rem;
  font-family: s-medium;
}

.cus-card .content .content-row .status {
  grid-row: 3;
  color: var(--darkYellow);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.cus-card .content .content-row .status .circle {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 1rem;
  background-color: var(--yellow);
  margin-right: 5px;
}

.bg-yellow{
  background-color: var(--yellow) !important;
}

.text-yellow{
  color: var(--darkYellow) !important;
}

.bg-red{
  background-color: var(--red) !important;
}

.text-red{
  color: var(--red) !important;
}

.bg-green{
  background-color: var(--green) !important;
}

.text-green{
  color: var(--green) !important;
}

.bg-blue{
  background-color: var(--blue) !important;
}

.text-blue{
  color: var(--blue) !important;
}

.bg-orange{
  background-color: var(--orange);
}

.text-orange{
  color: var(--orange);
}


@media (max-width: 768px) {
  .cus-navbar {
    padding-left: 6%;
    padding-right: 6%;
  }

  .cus-card .v-line {
    display: none;
  }

  .cus-card {
    grid-template-rows: repeat(2);
    grid-template-columns: 1;
    padding: 6%;
  }

  .cus-card .image {
    grid-row: 1;
    grid-column: span 20;
    height: calc(15rem - 60px);
  }

  .cus-card .content {
    padding: 5px;
    grid-row: 2;
    grid-column: span 20;
  }

  .cus-card .content .content-row {
    grid-template-rows: 2rem 5rem 1.5rem;
  }
}
/* --- Card --- */

/* --- AbstractCard --- */
.cus-abstract-card {
  padding: 30px;
  display: grid;
  grid-template-rows: 2;
  background-color: white;
  width: 100%;
  padding-bottom: 45px;
  color: #623688;
  cursor: pointer;
}

.cus-abstract-card .image-abs {
  width: 100%;
  height: 100px;
  background-color: #eccef3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}
.cus-abstract-card .content-abs {
  padding: 5px;
  display: grid;
  grid-template-rows: 2rem 8rem 1.5rem;
}

.cus-abstract-card .header-abs {
  font-size: 1.5rem;
  line-height: 30px;
  overflow: hidden;
  font-family: s-bold;
}
.cus-abstract-card .detail-abs {
  padding-top: 0.5rem;
  font-size: 1rem;
  overflow: hidden;
  line-height: 25px;
  color: #623688;
  font-family: s-medium;
}

/* --- AbstractCard --- */

/************* Card *************/

/************* Layout *************/
.cus-container {
  display: grid;
  grid-template-rows: 120px 80px calc(100vh - 200px);
  height: 100vh;
  padding-left: 7%;
  padding-right: 7%;
}

.cus-container .nav {
  /* font-size: 3.5rem; */

  grid-row: 1;
}

.cus-container .header {
  /* font-size: 3.5rem; */
  grid-row: 2;
  display: grid;
  grid-template-columns: calc(25%) 1fr;
}

.cus-container .header .header-text {
  grid-column: 2;
  font-family: m-med;
  display: flex;
  align-items: flex-end;
  font-size: 3rem;
  letter-spacing: 3px;
  color: var(--deepPurple);
  padding-left: 30px;
}

.cus-container .container-content {
  grid-row: 3;
  display: grid;
  grid-template-columns: calc(25%) 1fr;
}

.cus-container .container-content .container-menu {
  padding-top: 30px;
  grid-column: 1;
}

.cus-container .container-content .container-cards {
  grid-column: 2;
  overflow: auto;
}

@media (max-width: 768px) {
  .cus-container {
    grid-template-rows: 100px auto auto;
    padding: 0 !important;
  }

  .cus-container .container-content {
    grid-template-rows: auto 1fr;
  }

  .cus-container .container-content .container-menu {
    padding-top: 30px;
    padding-left: 30px;
    grid-column: span 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    padding: 0 !important;
  }

  .cus-container .container-content .container-cards {
    grid-column: span 2;
    grid-row: 2;
    overflow: auto;
    /* background-color: deeppink; */
  }
  .cus-container .header .header-text {
    grid-column: span 2;
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    padding: 0 !important;
  }
}

/************* Detail *************/
.cus-container .detail-header {
  display: grid;
  grid-template-columns: calc(25%) 1fr calc(15%);
  font-family: s-medium;
}

.cus-container .detail-header .detail-header-voting {
  grid-column: 1;
  font-size: 1.2rem;
  color: var(--deepPurple);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.cus-container .detail-header .detail-header-name {
  grid-column: 2;
  font-size: 2rem;
  color: var(--deepPurple);
  display: flex;
  align-items: flex-end;
  padding-left: 30px;
}

.cus-container .detail-header .detail-header-type {
  grid-column: 3;
  font-size: 0.8rem;
  color: var(--grey);
  display: flex;
  align-items: flex-end;
}

.cus-container .container-content .detail-menu-container {
  grid-row: 1;
  display: grid;
  grid-template-rows: auto 1fr;
}

.cus-container .container-content .detail-menu-container .detail-personal-info {
  grid-row: 1;
  display: flex;
  padding: 30px 30px 0 30px;
  flex-direction: column;
  color: var(--deepPurple);
}

.cus-container .container-content .detail-menu-container .detail-vote-button {
  grid-row: 2;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.cus-container
  .container-content
  .detail-menu-container
  .detail-vote-button
  .button-agree {
  background-color: var(--lightGreen);
  color: white;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 10px 20px;
}

.disabled {
  background-color: #d0e4d4 !important;
}

@media (max-width: 768px) {
  .cus-container .detail-header {
    display: grid;
    grid-template-rows: repeat(auto, 3);
  }

  .cus-container .detail-header .detail-header-voting {
    grid-column: span 3;
    grid-row: 3;
    padding-top: 10px;
    justify-content: center;
  }

  .cus-container .detail-header .detail-header-name {
    grid-column: span 3;
    grid-row: 1;
    justify-content: center;
    padding: 0;
  }

  .cus-container .detail-header .detail-header-type {
    grid-column: span 3;
    grid-row: 2;
    justify-content: center;
    align-items: flex-start;
  }

  .cus-container .container-content .detail-menu-container {
    grid-row: 1;
    grid-column: span 2;
    display: grid;
    grid-template-rows: auto auto;
  }
}

/* -------- My Requests --------- */

.cus-container .header-mine {
  display: flex;
  justify-content: center;
  font-family: m-med;
  font-size: 3rem;
  letter-spacing: 3px;
  color: var(--deepPurple);
}

.cus-container .container-content-mine {
  display: grid;
  grid-row: 3;
  grid-template-rows: 60px 1fr;
  padding-top: 1rem;
  padding-left: 10%;
  padding-right: 10%;
}

.cus-container .container-content-mine .tab-bar {
  padding-left: 30px;
  padding-right: 30px;
  grid-row: 1;
}

.cus-container .container-content-mine .tab-bar .tab-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  flex-direction: row;

}

.cus-container .container-content-mine .tab-bar .tab-link li {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: m-light;
  font-size: 1.6rem;
  color: var(--deepPurple);
}

.cus-container .container-content-mine .tab-bar .tab-link .voting:hover {
  background-color: var(--blue);
  color: #fff;
  cursor: pointer;
}

.cus-container .container-content-mine .tab-bar .tab-link .voting-focus {
  background-color: var(--blue);
  color: #fff;
}

.cus-container .container-content-mine .tab-bar .tab-link .approved:hover {
  background-color: var(--green);
  color: #fff;
  cursor: pointer;
}

.cus-container .container-content-mine .tab-bar .tab-link .approving-focus {
  color: #fff;
  background-color: var(--orange);
}

.cus-container .container-content-mine .tab-bar .tab-link .approving:hover {
  background-color: var(--orange);
  color: #fff;
  cursor: pointer;
}

.cus-container .container-content-mine .tab-bar .tab-link .approved-focus {
  color: #fff;
  background-color: var(--green);
}

.cus-container .container-content-mine .tab-bar .tab-link .waiting:hover {
  background-color: var(--yellow);
  color: #363b88;
  cursor: pointer;
}

.cus-container .container-content-mine .tab-bar .tab-link .waiting-focus {
  background-color: var(--yellow);
  color: #363b88;
}

.cus-container .container-content-mine .tab-bar .tab-link .rejected:hover {
  background-color: var(--red);
  color: #fff;
  cursor: pointer;
}

.cus-container .container-content-mine .tab-bar .tab-link .rejected-focus {
  background-color: var(--red);
  color: #fff;
}

.cus-container .container-content-mine .content-area {
  grid-row: 2;
  overflow: auto;
  /* background-color: darkred; */
}

@media (max-width: 768px) {
  .cus-container .container-content-mine {
    display: grid;
    grid-row: 3;
    grid-template-rows: 40px 1fr;
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 0;
  }
  .cus-container .container-content-mine .tab-bar .tab-link li {
    font-size: 1rem;
  }
} 

/* -------- My Requests --------- */


/* -------- Admin --------- */

.cus-container .header-admin {
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cus-container .header-admin span {
  font-size: 3rem;
  color: var(--deepPurple);
}


.cus-container .container-content-admin {
  grid-row: 3;
  overflow: auto;
}

.cus-container .container-content-admin .rows {
  height: 370px ;
  display: grid;
  grid-template-columns: repeat(12 , 1fr);
}

.cus-container .container-content-admin .rows .cus-column{
  grid-column: span 3;
}


/* -------- Admin --------- */



/************* Layout *************/

.add-new-request-icon{
  background-color: var(--lightPurple);
  color: var(--deepPurple);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 3%;
  right: 3%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  transition: all ease 0.2s;
}

.add-new-request-icon:hover{
  background-color: var(--deepPurple);
  color: var(--lightPurple);
}