@font-face {
  font-family: mitr-light;
  src: url("/fonts/mitr/Mitr-Light.ttf");
}

@font-face {
  font-family: mitr-regular;
  src: url("/fonts/mitr/Mitr-Regular.ttf");
}

@font-face {
  font-family: montserrat-light;
  src: url("/fonts/montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: monserrat-regular;
  src: url("/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: s-light;
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Light.ttf");
}

@font-face {
  font-family: s-medium;
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Medium.ttf");
}
@font-face {
  font-family: s-bold;
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Bold.ttf");
}

body {
  margin: 0;
  font-family: monserrat-regular !important;
}
